:root {
    --primary-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --background-color: #2F303A;
    --primary-white-color: #FFFFFF;
    --secondery-background-color: #F5F4FA;

}
/* Шапка */
body {
    color: var(--primary-color);
    background-color: var(--primary-white-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

.conteiner {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

a.p, p {
    color: var(--secondary-text-color);
}

a {
    text-decoration: none;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
} 

/* Heder */
header {
    background-color: var(--primary-white-color);
    }

span.logo-link {
    color: var(--accent-color);
}

.logo.header {
    margin-top: 24px;
    margin-bottom: 25px;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
}

/* Nav */
.conteiner.nav {
    display: flex;
    align-items: center;
}
.nav {
    display:flex;
}
.nav.list {
    display: flex;
    margin-left: 93px;
}

.nav.list .list + .list {
    margin-left: 50px;
}

.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.nav-link.current {
    color: var(--accent-color);
}

.kontakts.list {
    display: flex;
    margin-left: auto;
}

.kontakts.list .list + .list {
    margin-left: 50px;
}
.kontakts {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.kontakts:hover,
.kontakts:focus {
    color: var(--accent-color);
}

/* Мєйн index.html*/

/* Hero */
.hero {
    padding: 200px 452px;
    margin: 0 auto 94px auto;
    text-align: center;
    color: var(--primary-white-color);
    background-color: var(--background-color);
}

.hero-title {
    margin: 0 auto 30px auto;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.hero-title, .features-title {
    text-transform: uppercase;
}

.button-hero {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.button-hero:hover,
.button-hero:focus {
    color: var(--primary-white-color);
    background-color: #188ce8;
}

/* Button */
button {
    color: var(--primary-color);
    background-color: var(--secondery-background-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    font-family: inherit;

}

button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

button:hover,
button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* Features */
.feature.list {
    display: flex;
    flex-wrap: wrap;
}

.feature.list .list {
    width: 270px;
    background-color: tomato;
}
.features {
    margin-bottom: 94px;
}

.features-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
}

.features-item {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71; 
}

/* Activity */
.activity {
    margin-bottom: 94px;
}

.activity-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Team */
.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--secondery-background-color);
}
.team-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.list-text {
    font-size: 16px;
    line-height: 1.19;
}



/* portfolio */
.portfolio-link:hover,
.portfolio-link:focus {
    background-color: #EEEEEE;
}

.item-title {
    color: var(--primary-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.item-text {
    font-size: 16px;
    line-height: 1.88;
}

.team {
    background-color: var(--secondery-background-color);
}

/* Футер */
.footer {
    background-color: var(--background-color);
}

.address {
    font-style: normal;
}

.logo.footer {
    color: var(--primary-white-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
}

.location {
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.71;
} 

.kontakts-list.footer {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
}

.kontakts-list.footer:hover,
.kontakts-list.footer:focus {
    color: var(--accent-color);
}


